#container{
    height: auto;
    background-color: blanchedalmond;

}
header{
    height: 150px;
}
aside{
    height: 200px;
    background-color: rgb(221, 202, 174);
    width: 20%;
    float: left;
}
section{
    background-color: rgb(178, 163, 141);
    width: 80%;
    float: left;
    height: 200px;
}
footer{
    height: 200px;
    background-color: #D95E37;
    text-align: center;
    clear: both;
    
}
.post{
    text-align: center;
    padding: 10px;
    float: left;
}