#container{
    height: auto;
    background-color: blanchedalmond;

}
aside{
    height: 300px;
    background-color: rgb(221, 202, 174);
    width: 20%;
    float: left;
}
section{
    background-color: rgb(178, 163, 141);
    width: 80%;
    float: left;
    height: 300px;
}
footer{
    height: 50px;
    background-color: #D95E37;
    text-align: center;
    clear: both;
    width: 1000px;
    margin: auto;
}
.post{
    text-align: center;
    padding: 10px;
    float: left;
}