html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font: 16px/1.4em 'PT Sans', sans-serif;;
    color: #000000;
    background-color: #ffffff;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
 
p,
ul {
    margin: 0 0 ;
}
 
ul {
    list-style: square;
    padding: 0 0 0 20px;
}
 
a {
    color: #735751;
}
a:hover{
    color: #54403B;
    
}
 
h1 {
 
}
 
h2 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}
.wrapper {
    background-color: #E7D7C1;
}
 
article {
    border-bottom: 1px solid #a5a2a2;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}
 
header {
    background: #8C1C13;
    padding: 15px 20px;
    margin: auto;
}
 
        
        header:before,
        header:after {
            content:"";
            display:table;
        }
         
        header:after {
            clear:both;
        }
         
        
        header {
            zoom:1;
        }
 
h1.logo a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: left;
    letter-spacing: 0.1em;
    
}
 
a.to_nav {
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.menu a {
    
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: #d03434;
    background: rgb(255, 255, 255);

}
#primary_nav ul {
    list-style: none;
    background: #8C1C13;
    padding: 5px 0;
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
 
#primary_nav li:last-child a {
    border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #ffffff;
    background: #BF4342;

}
 

 
footer {
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 14px;

}
@media only screen and (min-width: 768px) {
 
    a.to_nav {
        display: none;
    }
 
}
.wrapper {
    position: relative;
    width: 768px;
    margin: auto;
}
 
#primary_nav {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
}
 
#primary_nav li {
    display: inline;
}
 
#primary_nav li a {
    float: left;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

}

.menu li {
    list-style-type: none;
    display: inline-block;
    width: 180px;
    margin: 0 10px;
}
.menu a {
    
    display: block;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}
