@import url(normalize.css);
body{
        background-color: #EDD382;
        background-image: url(img/123.jpg);
        background-repeat: repeat-x;
}
#container {
        width: 980px;
        margin: auto;
}

h1 {
        width: 300px;
        margin: 40px auto;
        padding: 30px;
        border: 5px solid #b40a0a;
        background-color: #F4442E;
        color: #fff;
        font-size: 300%;
        text-align: center;
        line-height: 1;
        border-radius: 50%;
        text-shadow: 1px 1px 2px #000000;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background-image: linear-gradient(to bottom, #F4442E, #b40a0a);
        font-family: 'Limelight', cursive;
}

h2 {
        padding: 10px;
        margin-bottom: 30px;
        border: 1px dotted #FC9E4F;
        border-left: 10px solid #FC9E4F;
        color: #F4412A;
        border-radius: 10px
}
.h3{
        padding: 10px;
        background-color: #fbf9cc;
        color: #F4412A;
        border-radius: 10px;
        box-shadow: 0 0 5px 2px #ffd0ad inset;
}
.h3 span{
        font-weight: normal;
        
}

a {
        color: #e6e662
}
a:hover {
        color: #000000;
        text-decoration: none;
}

main {
        width: 798px;
        margin: 40px auto;
        padding: 40px 80px;
        border: 1px solid #e4946f;
        background-color: #fff;
}

.round {
        border-radius: 50%;
}

h1,
header,
nav,
footer {
        text-align: center;
}
.more{
        text-align: right;
}
.more::after {
        content: url(img/ico_arrow.png);
        margin-left: 3px;
        vertical-align: middle;
}
section + section{
        margin-top: 80px;
}
a[target="_blank"]::after {
        content: url(img/ico_blank.png);
        margin-left: 5px;
        vertical-align: middle;        
}
a[href^="mailto:"]::after {
        content: url(img/ico_mail.png);
        margin-left: 5px;
        vertical-align: middle;
}
.menu li {
        list-style-type: none;
        display: inline-block;
        width: 180px;
        margin: 0 10px;
}
.menu a {
        display: block;
        padding: 10px;
        background: #ffb300;
        border-radius: 8px;
        color: #fff;
        text-decoration: none;
}
.imgL {
        float: left;
        margin-right: 20px;
}
.imgR {
        float: right;
        margin-left: 20px;
}
.clear {
        clear: both;
}
.clearfix::after {
        content: "";
        display: block;
        clear: both;
}



