@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
body,ul{
    margin: 0px;

}
.container{
    width: 1000px;
    margin: auto;
    height: auto;
    background-color: #dbc7be;
}
img{
    border-radius: 5px;
}

header{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
nav{
    background-color: #685650
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style: none;
    padding: 10px;  
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
nav a:hover{
    background-color: antiquewhite;
    color: rgb(122, 104, 104);
    transition: background-color 0.5s linear, color 0.5s ease-in;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(208, 163, 149, 0.8);
}
.title{
    text-align: center;
    font-family: 'Koulen', cursive;
}
#postlist ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}
#postlist li{
    list-style-type: none;
    margin: 10px;
}
#postlist img{
    border-radius: 10%;
    box-shadow: 5px 5px 10px gray;
}
#postlist .emptyitem{
    width: 200px;
}
.gotop{
    font-size: 50px;
    color: brown;
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.A ul {
    list-style-type: none;
}
.A a{
    color: rgb(84, 42, 36);
}
.B ul{
    list-style-type: none;
}
.B a{
    color: rgb(85, 42, 36);
}
#banner{
    display: flex;
    justify-content: space-between;
}
footer{
    height: 50px;
    margin: auto;
    width: 1000px;
    background-color: rgb(125, 113, 96);
    clear: both;
    
}
h1{
    margin: 0;
}
article {
    border-bottom: 1px solid #a5a2a2;
    padding: 10px 20px 0 20px;

}
